.doctors {
    max-height: 590px;
    overflow-y: scroll;
}

.appointments {
    max-height: 150px;
    overflow-y: scroll;
}

.plus img {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-bottom: 1em;
    margin-top: 1.5em;
}
