/* 

COLOURS

BLUE > #4da5a1
ORANGE > #e74424ff
CREAM > #f7f1e6ff 

FONTS

font-family: 'Quicksand', sans-serif;
font-family: 'Open Sans', sans-serif; 

*/

body {
    font-family: 'Montserrat', sans-serif;
    /* background-image: url(../assets/pattern.svg);
    background-repeat: repeat;
    background-size: 40%; */

    background: #ebebeb;
    min-height: 100vh;
}

.navbar {
    background-color: #ffffff00;
}

.is-blue {
    background-color: #4da5a1 !important;
}

.is-orange {
    background-color: #e74424ff !important;
    border: 0px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #f7f1e6ff;
    font-size: 2rem;
}

#logo {
    width: 100%;
    max-height: 100px;
}

#user-icon {
    width: 100%;
    max-height: 100px;
    margin-top: 1rem;
}

.notification {
    padding: 1rem 1rem 0.5rem 1rem;
}

.brand-text {
    margin-top: 2rem;
}

.is-blue-nav {
    background-image: linear-gradient(
        to bottom,
        #4da5a1,
        #4da5a1 75%,
        #ffffff00 75%,
        #ffffff00
    );
}

.main-con {
    margin-top: 2em;
}

.is-shadowless {
    box-shadow: none;
}

.orange-btn {
    background: #e74424ff;
    border: #e74424ff;
}

.has-text-orange {
    color: #e74424ff !important;
}

.person-icon {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dfdfdf;
}

.floating-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #0000003f;
    transition: all 0.1s ease-in-out;
    position: fixed;
    right: 50px;
    bottom: 70px;
    z-index: 1000;
    padding-top: 15px;
}

.floating-btn:hover {
    box-shadow: 0 6px 14px 0 rgba(102, 102, 102, 0.37);
    transform: scale(1.1);
}

.label {
    text-transform: capitalize;
}

.negative-margin {
    margin: -30px;
}

.navbar-link::after {
    border-color: #e74424ff;
    margin-top: 2px;
}

.change-password {
    margin-top: 1em;
}

.plus img {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

/* jquery ui customisation */

.ui-corner-all {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-menu {
    border: 1px solid #e74424ff;
    font-family: 'Montserrat', sans-serif;
}
.ui-menu .ui-menu-item a {
    color: #4da5a1;
}

.ui-menu .ui-menu-item a:hover {
    color: #fff;
}
.ui-widget-content .ui-state-hover li a,
.ui-widget-content .ui-state-focus li a {
    color: #fff;
}
.ui-menu .ui-menu-item:hover {
    display: block;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #e74424ff;
    background-image: none;
    border: 1px solid #e74424ff;
}
.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
    border: 1px solid #e74424ff;
    background-image: none;
    background-color: #e74424ff;
    font-weight: bold;
    color: #fff !important;
    display: block;
}

th {
    cursor: pointer;
}
